.nav-link{
    color: rgb(252, 252, 252) !important;
    margin-left: 50px !important;
    
}

.nav-link:hover{
    font-size: 18px;
}

.taskbar {
    display: flex !important;
    justify-content:space-evenly !important; 
    width: 100% !important;
    background-color:#DC3545;
   
}

